# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem enable professionals to analyze and derive insights from complex datasets

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL
4. Julia

**Some of the commonly used libraries used by Data Scientists include:**
1. NumPy
2. Pandas
3. Scikit-Learn
4. Matplotlib

|Data Science Tools|
|-|
|Jupyter Notebook|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

In [ ]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

**Objectives:**
List popular languages for Data Science.
- Python 
- SQL
- R

## Author
Jorge Blasco